<a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration: none; color: red; font-weight: bold">
    <img src="~/Content/Images/Giohang.gif" height="40px"/> Cart (@ViewBag.TotalNumber)
</a>

