<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/mystyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="div-top">
            @Html.Partial("_PartialLogin")
    </div>
    <div id="div-main">
        <div id="div-left">
            <h3>Danh mục sản phẩm</h3>
            <ul style="list-style: none">
                <li><a href="/Home/Trangchu">Laptop</a></li>
                <li><a href="/Home/DesktopComputer">Máy tính để bàn</a></li>
                <li>Điện thoại</li>
                <li>Phụ kiện</li>
            </ul>
        </div>
        <div id="div-containt">
            @RenderBody()
        </div>
    </div>
    <div id="div-footer"></div>
</body>
</html>
